/***************************************
******** Author: Andrea Losavio ********
**** Website: www.andrealosavio.com ****
****************************************/

/***************/
/* FONT FAMILY */
/***************/

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap");

/* 400: Regular  */
/* 500: Medium   */
/* 600: SemiBold */
/* 700: Bold     */

* {
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

b {
  font-weight: 700;
}

li a {
  padding: 10px;
}

/**********/
/* tablet */
/**********/
@media (max-width: 991px) {
  h1 {
    font-size: 35px !important;
  }

  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 25px !important;
  }
}